  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div id="navLogo">
      <img src="https://i.imgur.com/Ah1Eznn.png" alt="logo" style="width: 220px; height: 220px; float: left;">
    </div>
    <div id="navMenu">
    <% if (user) { %>
      <div id="btnsRight">
        <a href="/parks" class="navButton">Adventures</a>
        <a href="/parks/badges" class="navButton">Badges</a>
        <a href="/parks/buddies" class="navButton">Buddies</a>
        <a href="/auth/logout">
          <button type="submit" class="navButton">Logout</button>
        </a>
      </div>
    <% } %>
    </div>
  </nav>
