<%- include('./partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/welcomepage.css" />
<%- include('./partials/nav.ejs') %>

<body>
  <div class="container">
  <% if (user?.profile.avatar) { %>
    <div id="prompt">
      <div class="welcomeMessage">
        <h1>The Trailblazer Returns!</h1>
        <h2>Welcome Back <%= user ? user.profile.name : "friend" %> !</h2>
      </div>
      <div class="statusIcons">
        // inset images
      </div>
      <div class="quesPrompt">
          <h1>Got a new expedition to chronicle?</h1>
      </div>
    </div>
    <div class="logPrompt">
      <a href="/parks/new">
        <button class = "blogbtn">Trek and Tell</button>
      </a>
    </div>
  <% } %>
  </div>

</body>

<%- include('./partials/footer.ejs') %>
