#update-header{
  background-color: #fbeee0;
  border-radius: 30px;
  border: solid 3px #422800;
  display: flex;
  justify-content: center;
  align-items: center;
  width:800px;
  padding: 0px 10px;
  flex-direction: column;
}

#addComment{
  padding: 20px 10px 20px 10px;
  color:#b63f3f;
  font-size: 32px;
  text-decoration: none;
  border: solid 1px white;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5px;
}

#addComment:hover{
    background-color: #4d8964;
    color:#fbeee0;
}

#deleteBtn{
  padding: 20px 10px 20px 10px;
  font-size: 32px;
  text-decoration: none;
  border: solid 1px white;
  background-color: #b63f3f;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color:#fbeee0;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5px;
}


#editBtn{
  padding: 20px 10px 20px 10px;
  text-decoration: none;
  border: solid 1px white;
  background-color: #4d8964;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #fbeee0;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5px;
}

#editBtn:hover{
  background-color: #a45b33;
  color:#fbeee0;
}


#editBtnCom{
  padding: 20px 10px 20px 10px;
  text-decoration: none;
  border: solid 1px white;
  background-color: #d77542;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #fbeee0;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0px 0px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5px;
  width: 50px;
}

#editBtnCom:hover{
  background-color: #a45b33;
  color:#fbeee0;
}


#deleteBtn:hover{
  background-color: #7d3333;
  color:#fbeee0;
}

.container{
  background-color: #fbeee0;
  border: 2px solid #422800;
  width: 800px;
  height: 500px;
}

.route-date{
  background-color: #b63f3f;
  border: 2px solid #422800;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: inline-flex;
  width: 100%;
  font-size:24px;
  color:#fbeee0;
  padding: 20px;
}

#route{
  /* border: 2px solid #422800; */
  width: 50%
}

#date{
  /* border: 2px solid #422800; */
  width: 50%;
  text-align: end;
}

.inner-container{
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 800px;
  height: 460px;
}

.left-column{
  /* border: 2px solid #422800; */
  width:25%;
  height: 457px;
  padding: 0px 15px;
  font-size: 20px;
}

#elevation{
  border: 2px solid #422800;
  width: 100%;
  height: 10%;
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #249c94;
  box-shadow: 3px 3px 3px #422800;
}

#elevation input{
  width: 80px;
  border:#422800 solid 2px;
  border-radius: 10px;
  margin: 2px 2px;
  padding: 5px 5px;
}

#companionInput{
  border: 2px solid #422800;
  width: 100%;
  height: 27%;
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #f4a259;
  box-shadow: 3px 3px 3px #422800;
}

#companionInput input{
  height: 60px;
  border:#422800 solid 2px;
  border-radius: 10px;
  margin: 2px 2px;
  padding: 5px 5px;
}

#wildlife{
  border: 2px solid #422800;
  width: 100%;
  height: 27%;
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #6cbbd1;
  box-shadow: 3px 3px 3px #422800;
}

#wildlife input{
  height: 60px;
  border:#422800 solid 2px;
  border-radius: 10px;
  margin: 2px 2px;
  padding: 5px 5px;
}

#grub{
  border: 2px solid #422800;
  width: 100%;
  height: 27%;
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #adc178;
  box-shadow: 3px 3px 3px #422800;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grub input{
  height: 60px;
  border:#422800 solid 2px;
  border-radius: 10px;
  margin: 2px 2px;
  padding: 5px 5px;
}

.right-column{
  /* border: 2px solid #422800; */
  width: 75%;
  height: 450px;
}

#photo-box{
  /* border: 2px solid #afd4cc; */
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#photo{
  max-width: 580px;
  max-height: 170px;
  border: 2px solid #422800;
}

#content{
  /* border: 2px solid #422800; */
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
  display: block;
  text-align: center;
  font-size: 24px;;
  padding: 10px;
}

.bottombtns{
  /* border: 2px solid #422800; */
  width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

#comment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
}

#comment-header h2{
  font-family: 'Bungee', sans-serif;
  color:#fbeee0;
  font-size: 24px;
  padding: 0px 0px;
  text-shadow: 3px 3px 3px #976213;
  background-color:  #5d8693;
  width: 600px;
  border: solid 3px #fbeee0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#comment-container{
  /* border: 2px solid pink; */
  width: 800px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* display: inline-block; */
}

#top-comments{
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#bottom-create-comments{
  /* border: 2px solid #422800; */
  width: 80%;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px 0px 10px 0px;
  flex-direction: column;
}

.eachComment{
  width:700px;
  font-size: 24px;
  color:#422800;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}


#commentOnly{
  border: 2px solid #422800;
  background-color: #eec6a3;
  padding: 5px 5px;
  border-radius: 30px;
  width: 75%;
  margin: 5px 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


#e-d-btn{
  width: 20%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentInfo{
  width: 480px;
  text-align: end;
  font-size: 20px;
  color: #42280;
  padding: 5px 5px;
  border-radius: 20px;
}

#commentContent{
  width: 450px;
}

#add-comment{
  font-family: 'Bungee', sans-serif;
  color:#fbeee0;
  font-size: 24px;
  padding: 0px 0px;
  text-shadow: 3px 3px 3px #976213;
  background-color:  #5d8693;
  width: 600px;
  border: solid 3px #fbeee0;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  flex-direction: row;
}

#input-comment{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#input-box{
  width: 350px;
  height: 75px;
  padding-top: 10px;
  margin: 10px 0px 0px 0px;
  flex-direction: row;
  border:#233435 solid 3px;
  border-radius: 20px;
}

#comment-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#route input{
  height:30px;
  margin: 10px 0px 0px 0px;
  flex-direction: row;
  border:#233435 solid 3px;
  border-radius: 20px;
}

#content input{
  height:200px;
  width: 500px;
  margin: 10px 0px 0px 0px;
  flex-direction: row;
  border:#233435 solid 3px;
  border-radius: 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row; */
  resize: vertical;
}

#updateBtn{
  padding: 20px 10px 20px 10px;
  font-size: 32px;
  text-decoration: none;
  border: solid 1px white;
  background-color: #4d8964;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color:#fbeee0;
  display: inline;
  font-weight: 600;
  font-size: 24px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5px;
}

#updateBtn:hover{
  background-color: #3b6b4d;
}

#update-row{
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  padding: 20px 0px 15px 0px;
}