*{
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-image: url('../image/background.jpg');
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  height: 500px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 15px 15px #540B0E;
  border-radius: 10px;
}

.left-column{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #b63f3f;
  text-shadow: 3px 3px 3px #540B0E;
  font-size: 24px;
  color:#fbeee0;
  border-radius: 10px;
}


.left-column h1{
  font-size: 3rem;
  margin: 40px;
}

.log-in-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-column{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #E9C46A;
  border-radius: 10px;
}

#fox{
  width: 400px;
  height: 400px;
}

.intro{
  width: 330px;
}