html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
}

nav {
  background-color: rgba(51, 92, 103, .5);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  max-height: 80px;
  width: 100%;
  float: right;
  margin-bottom: 30px;
}

#navLogo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%
}

#navMenu{
  height: 80px;
  display: flex;
  align-items: center;
  width: 75%;
  flex-direction: row;
  justify-content: flex-end;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  text-align: center;
}

.log-in-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-of-parks{
  border: solid 1px #b63f3f;
  color: white;
  text-decoration: none;
}

.eachPost{
  border: solid 1px blue;
}
.navButton{
  padding: 20px 10px 20px 10px;
  color:#b63f3f;
  font-size: 32px;
  text-decoration: none;
  border: solid 1px white;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5px;
}

.eachComment{
  padding: 5px;
  border: solid 1px black;
}