html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #becacf;
  color: #E9C46A;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  border: solid 1px pink
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  border: solid 1px rgb(104, 77, 158)
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  text-align: center;
  border: solid 1px pink
}

.log-in-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-of-parks{
  border: solid 1px #b63f3f;
  color: white;
  text-decoration: none;
}

.eachPost{
  border: solid 1px blue;
}
.navButton{
  padding: 5px;
  border: solid 1px black;
}