body{
  color: white;
  align-content: center;
}


.container{
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-content: center;
}

.welcomeMessage{
  width: 400px;
  text-align: center;
}

.welcomeMessage h2{
  color:#9E2A2B;
}

.statusIcons{
  width: 400px;
  text-align: center;
}

.quesPrompt{
  width: 400px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.logPrompt{
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 80px;
  margin: auto;
}

#prompt{
  background-color: #fbeee0;
  border: 3px solid #422800;
  border-radius: 10px;
  color: #422800;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogbtn {
  background-color: #da696b;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.blogbtn:hover{
  background-color: #4d8964;
  color:#fbeee0;
}