<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>parks/new - create a new park entry</h1>

parkName: String,
owner: { type: Schema.Types.ObjectId, ref: "Profile" },
date: Date,
route: String,
companion: [String],
trailGrub: [String],
wildlife: [String],
elevation: Number,
comments: [commentSchema]


<form>

  <label>Park:</label>
    <select name="parkName" id="nameDropDown">
      <option>Mount Rainier</option>
      <option>Rocky Mountain</option>
      <option>Sequoia</option>
      <option>Acadia</option>
      <option>Zion</option>
    </select>
  <br>
  <label>Date:</label>
    <input type="date" name = "date">
    </input>
  <label></label>





</form>

<%- include('../partials/footer') %>