<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>parks/new - create a new park entry</h1>

parkName: String,
owner: { type: Schema.Types.ObjectId, ref: "Profile" },
date: Date,
route: String,
companion: [String],
trailGrub: [String],
wildlife: [String],
elevation: Number,
comments: [commentSchema]


<form>

  <label>Park:
    <select name="parkName" id="nameDropDown">
      <option>Mount Rainier</option>
      <option>Rocky Mountain</option>
      <option>Sequoia</option>
      <option>Acadia</option>
      <option>Zion</option>
    </select>
  </label>
  <br>
  <label>Date:
    <input type="date" name = "date">
  </label>
  <label></label>
<br>
  <label>Route:
    <input type="text" name="route">
  </label>
<br>
  <label>Wildlife:
    <input type="text" name="wildlife">
  </label>
<br>
  <label>Companion(s):
    <input type="text" name="companion">
  </label>
<br>
<label>Elevation:
  <input type="number" name="elevation">
</label>






</form>

<%- include('../partials/footer') %>